<div class="hero">
  <div class="container">
    <h1 class="hero-text">Trip-r-bnb is your one-stop shop for 4L rentals</h1>
    <p class="hero-text">Find the perfect Renault 4L to rent and book it instantly!</p>
    <br>
    <%= link_to "Browse 4Ls", cars_path %>
  </div>
</div>
