.container {
  width: 960px;
  padding: 0 50px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.cards-container {
  flex: 2;
}

.map-container {
  flex: 1;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
}
