.container {
  padding: 0 50px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.cards-container {
  width: 60%;
  margin-right: 30px;
}


@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
}

.container a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
